.qHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color:white;
    width:100%;
    position: sticky;
    z-index: 1000;
    top:0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.5);
}

.qHeader_logo > img {
    height: 80px;
    margin-right: 50px;
}

.qHeader__icons {
    display: flex;
    margin-right: 20px;
}

.qHeader__icon > .MuiSvgIcon-root {
    color:#997b7a; 
    cursor: pointer;
    font-size: xx-large;
    padding: 5px 20px;
}
.qHeader__icon > .MuiSvgIcon-root:hover {
    color: #487ad8; 
    border-radius: 10px;
    background-color: lightgray;
}

.qHeader__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}



.qHeader__input >input {
background-color :transparent;
outline: none;
border: none;
color: rgb (49,49,49);

}


.qHeader__input >i .MuiSvgIcon-root {
    color: gray;
    }

    .qHeader__Rem {
        display: flex;
    align-items: center;
    margin-left: 25px;

    }

    .qHeader__Rem> .qHeader__avatar{
        cursor: pointer;
    }
    .qHeader__Rem > .MuiSvgIcon-root{
        font-size: xx-large;
        color: gray;
        margin-left: 25px;
        cursor: pointer;
    }

    .qHeader__Rem > .MuiSvgIcon-root:hover{
        color: #8f1f1b;
    }

    .qHeader__Rem > .MuiButton-root{
        
        color: rgb(245, 244, 250);
        margin-left: 25px;
        text-transform: inherit;
        background:#8f1f1b;
        border-radius: 20px;
        cursor: pointer;
    }
